;;; configuration for LIFT tests

;; settings
(:dribble nil)
(:print-length 10)
(:print-level 5)
(:print-test-case-names t)
(:log-pathname t)

;; suites to run
(uk.co.deoxybyte-gzip-test:deoxybyte-gzip-tests)

(:report-property :format :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
